@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
      --bs-body-font-family: 'Oswald', sans-serif;
}

html, body{
    min-height: 100%;
}

h1 span:first-child{
    font-weight: 600;
}

a{
    color: rgb(13, 89, 139);
    text-decoration: none;
}